<!DOCTYPE html>
<html>

<head>
    <title>Add Customer</title>
</head>

<body>

<h2>Add New Customer</h2>


<form action="/savecustomer" method="post">


    Name <br>
    <input type="text" name="name">
    <br><br>


    Phone <br>
    <input type="text" name="phone">
    <br><br>


    Email <br>
    <input type="email" name="email" placeholder="Optional">
    <br><br>


    License Number <br>
    <input type="text" name="license">
    <br><br>


    <button type="submit">
        Add Customer
    </button>


</form>


<br>

<a href="/dashboard">
Back
</a>


</body>

</html>