<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>

<body>

<h1>Welcome Admin 🎉</h1>

<h2>Car Rental Management System Dashboard</h2>

<ul>

    <li><a href="/addcar">Add Car</a></li>

    <li><a href="/viewcars">View Cars</a></li>

    <li><a href="/addcustomer">Add Customer</a></li>

    <li><a href="/viewcustomers">View Customers</a></li>

    <li><a href="/rentcar">Rent Car</a></li>

    <li><a href="/viewrentals">View Rentals</a></li>

    <li><a href="/returncar">Return Car</a></li>

</ul>

</body>
</html>